body,#mainDiv,#videoWrapper,#video
{
    padding: 0px;
    margin: 0px;
}
body
{
    overflow: hidden;
}
#videoArea
{
    width: 100%;
    height: 100%;
    position: relative;
}
#mainControll
{
    position: absolute;
    z-index: 10;
    top: 5px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
#videoWrapper
{
    background-color: rgba(30, 30, 30,1);
    position: absolute;
    z-index: 1;
}
#controll
{
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: absolute;
    z-index: 220;
    bottom: 10px;
}

#videoWrapper,#video
{
    width: 100%;
    height: 100%;
}

#volumeBar, #speedRate,#fullScreen
{
    margin: 10px;
    float: right;
}

#play_pause
{
    width: 30px;
    height: 30px;
    margin: 10px;
    float: left;
    background-color: transparent;
    border: none;
}
.pause
{
    background-image: url("../src/img/pause_Evil.png");
}

.play
{
    background-image: url("../src/img/play_Evil.png");
}

#seekBar
{
    margin: 10px;
    width:45% ;
}

#fullScreen
{
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    background-image: url("../src/img/fullScreen.png");
    background-repeat:no-repeat;
}

#openFile
{
    margin: 10px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    background-image: url("../src/img/fileOpen.png");
    background-repeat:no-repeat;
}

#drugButton
{
    margin: 10px;
    -webkit-app-region: drag;
    float: right;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    background-image: url("../src/img/drug.png");
    background-repeat:no-repeat;
}

#Close
{
    margin: 10px;
    float: right;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    background-image: url("../src/img/exit.png");
    background-repeat:no-repeat;
}
#changeStyle
{
    margin: 10px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    background-image: url("../src/img/change.png");
    background-repeat:no-repeat;
}

.slider
{
    -webkit-appearance: none;
    padding-top: 10;
    margin-bottom: 10;
    background: transparent;
}

.slider::-webkit-slider-thumb 
{
    -webkit-appearance: none;
    border: none;
    height: 29px;
    width: 29px;
    background:transparent;
    background-image: url("../src/img/arrow.png");
    cursor: pointer;
}

.slider::-webkit-slider-runnable-track 
{
    -webkit-appearance: none;
    height: 4px;
    background: #961000;
}

.controlls:focus
{
    outline: none;
}

#speedRate
{
    height: 30px;
    border-color: transparent;
    border-radius: 5px;
    background-color:#0A6BA0
}